body {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   

}

.container {
   max-width: 600px;
   margin: 10% auto;
   padding: 20px;
   /* background-color: #f9f9f9; */
   background: rgba(258, 258, 258, 0.2);
   /* semi-transparent white */
   backdrop-filter: blur(5px);
   border-radius: 8px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
   text-align: center;
}

.inputfield {

   display: flex;
   gap: 10px;
   align-items: center;
   margin-bottom: 10px;
   width: 80%;
   margin: 20px auto;
}

.task-input {
   flex-grow: 1;
   padding: 12px 15px;
   border: 1px solid #ccc;
   border-radius: 20px;
   font-size: 16px;
   color: #333;
   outline: none;
   transition: border-color 0.3s;

}

.task-input:focus {
   border-color: #28a745;
}

.task-input::placeholder {
   color: #999;
}

.add-button {
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #28a745;
   color: white;
   border: none;
   border-radius: 20px;
   font-size: 24px;
   font-weight: bold;
   line-height: 1;
   cursor: pointer;
   transition: background-color 0.2s ease, transform 0.1s ease;

}

.add-button:hover {
   background-color: #218838;
}

.add-button:active {
   transform: scale(0.95);
}

.msg {
   text-align: center;
   margin-bottom: 20px;
   color: red;
   font-weight: bold;
}

.task-list {
   width: 550px;
   height: 40px;
   background-color: rgb(240, 238, 238);
   justify-items: center;
   text-align: left;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-radius: 15px;
   margin: 10px auto;
   padding-left: 10px;
   border-color: #ce1c1c;

}

.delete-button {
   width: 60px;
   height: 60px;
   background: none;
   border: none;
}